---
layout: gis
title: Maintainer Statistics
---

<h1>Debian GIS Maintainer Statistics</h1>

<p>
<img src="http://blends.debian.net/liststats/authorstat_debian-gis.png"
          title="Active writers on debian-gis@lists.debian.org"
	       alt="Bar chart of active writers on mailing list">
</p>

<p>
<img src="http://blends.debian.net/liststats/authorstat_pkg-grass-devel.png"
          title="Active writers development list pkg-grass-devel@lists.alioth.debian.org"
	       alt="Bar chart of active writers on packaging list">
</p>

<p>
<img src="http://blends.debian.net/liststats/commitstat_pkg-grass.png"
          title="Commits SVN/Git"
	       alt="Bar chart of Commits to Debian Med repositories obtained via teammetrics project">
</p>

<p>
<img src="http://blends.debian.net/liststats/uploaders_debian-gis.png"
          title="Uploaders of Debian GIS packages"
	       alt="Bar chart of Debian GIS uploaders">
</p>

<p>
<img src="http://blends.debian.net/liststats/bugs_debian-gis.png"
          title="Bugs closed by Debian GIS team members"
	       alt="Bar chart of bugs closed by Debian GIS team members">
</p>

<p>
<img src="http://blends.debian.net/liststats/maintainer_per_package_pkg-grass.png"
          title="Number of maintainers per package"
	       alt="Bar chart of number of maintainers per package">
</p>

